DATABASE_URL="file:./dev.db"

AUTH_SECRET="generate-with-openssl-rand-base64-32"

APP_URL="http://localhost:3000"

# RESEND_API_KEY="re_xxx"
EMAIL_FROM="BLPS SVC CTE Scholarship <scholarship@yourdomain.org>"

CRON_SECRET="generate-a-long-random-string"
